/CMakeLists.txt.user
/gallery-app.qmlproject.user
/desktop/gallery-app.desktop
/desktop/gallery-app.desktop.in
/src/config.h
/src/gallery-app
/tests/unittests/command-line-parser/command-line-parser
/tests/unittests/gallerystandardimageprovider/gallerystandardimageprovider
/tests/unittests/gallerythumbnailimageprovider/gallerythumbnailimageprovider
/tests/unittests/imaging/imaging
/tests/unittests/mediaobjectfactory/mediaobjectfactory
/tests/unittests/resource/resource
/tests/unittests/video/config.h
/tests/unittests/video/video
/tests/unittests/*/test_*.xml
/Testing
/po/*.gmo
/po/desktop
/build
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
*automoc.cpp
*.moc
moc_*.cpp
moc_*.cxx

# Kdevelop files
.kdev4/
*.kdev4
