[Desktop Entry]
Version=1.0
Name=Gallery
Name[aa]=Gecro
Name[am]=አዳራሽ
Name[ar]=المعرض
Name[ast]=Galería
Name[az]=Qalereya
Name[be]=Галерэя
Name[br]=Skeudennaoueg
Name[bs]=Galerija
Name[ca]=Galeria
Name[ca@valencia]=Galeria
Name[cs]=Galerie
Name[cy]=Oriel
Name[da]=Galleri
Name[de]=Galerie
Name[el]=Συλλογή
Name[en_AU]=Gallery
Name[en_GB]=Gallery
Name[es]=Galería
Name[eu]=Galeria
Name[fa]=نگارخانه
Name[fi]=Galleria
Name[fr]=Galerie
Name[gd]=Gailearaidh
Name[gl]=Galería
Name[he]=גלריה
Name[hu]=Galéria
Name[is]=Myndasafn
Name[it]=Galleria
Name[ja]=ギャラリー
Name[km]=វិចិត្រសាល
Name[ko]=그림 모음
Name[lv]=Galerija
Name[ml]=ഗാലറി
Name[ms]=Galeri
Name[my]=ဓာတ်ပုံသိမ်းထားသည့်နေရာ
Name[nb]=Galleri
Name[nl]=Galerij
Name[pa]=ਗੈਲਰੀ
Name[pl]=Galeria
Name[pt]=Galeria
Name[pt_BR]=Galeria
Name[ro]=Galerie
Name[ru]=Галерея
Name[sk]=Galéria
Name[sl]=Galerija
Name[sr]=Галерија
Name[sv]=Fotoalbum
Name[ta]=படத்தொகுப்பு
Name[te]=చిత్రశాల
Name[tr]=Galeri
Name[ug]=سۈرەت يىغقۇچ
Name[uk]=Галерея
Name[zh_CN]=相册
Name[zh_HK]=相集
Name[zh_TW]=相簿
GenericName=Ubuntu Photo Viewer
GenericName[aa]=Ubunuk Taswiir Ilaalise
GenericName[am]=የ ኡቡንቱ ፎቶ መመልከቻ
GenericName[ar]=عارض صور أوبونتو
GenericName[ast]=Visor de semeyes d'Ubuntu
GenericName[az]=Ubuntu Şәkil Nümayişçisi
GenericName[be]=Аглядальнік фатаздымкаў Ubuntu
GenericName[br]=Gwelerez luc'hskeudennoù Ubuntu
GenericName[bs]=Ubuntu preglednik fotografija
GenericName[ca]=Visualitzador d'imatges de l'Ubuntu
GenericName[ca@valencia]=Visualitzador d'imatges de l'Ubuntu
GenericName[cs]=Prohlížeč fotek Ubuntu
GenericName[cy]=Gwelydd Lluniau Ubuntu
GenericName[da]=Ubuntu-billedfremviser
GenericName[de]=Ubuntu-Fotobetrachter
GenericName[el]=Προβολή φωτογραφιών Ubuntu
GenericName[en_AU]=Ubuntu Photo Viewer
GenericName[en_GB]=Ubuntu Photo Viewer
GenericName[es]=Visor de fotos de Ubuntu
GenericName[eu]=Ubunturen argazki-ikustailea
GenericName[fa]=بیننده‌ی عکس اوبونتو
GenericName[fi]=Ubuntun kuvakatselin
GenericName[fr]=Visionneuse de photos Ubuntu
GenericName[gd]=Sealladair dealbhan Ubuntu
GenericName[gl]=Visor de fotos de Ubuntu
GenericName[he]=מציג התמונות של אובונטו
GenericName[hu]=Ubuntu fényképmegjelenítő
GenericName[is]=Ubuntu myndarýnir
GenericName[it]=Visualizzatore di foto Ubuntu
GenericName[ja]=Ubuntu写真ビューアー
GenericName[km]=កម្មវិធី​មើល​រូបថត​របស់ Ubuntu
GenericName[ko]=우분투 사진 보기
GenericName[lv]=Ubuntu fotogrāfiju skatītājs
GenericName[ml]=ഉബുണ്ടു ചിത്രദര്‍ശിനി
GenericName[ms]=Pelihat Foto Ubuntu
GenericName[nb]=Ubuntu fotovisning
GenericName[nl]=Ubuntu-foto-toepassing
GenericName[pa]=ਉਬੰਤੂ ਫ਼ੋਟੋ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazów Ubuntu
GenericName[pt]=Visualizador de fotografias do Ubuntu
GenericName[pt_BR]=Visualizador de fotos do Ubuntu
GenericName[ro]=Vizualizator fotografii pentru Ubuntu
GenericName[ru]=Обозреватель фотографий Ubuntu
GenericName[sk]=Ubuntu - prehliadač fotiek
GenericName[sl]=Ubuntu pregledovalnik fotografij
GenericName[sr]=Убунту Преглед слика
GenericName[sv]=Ubuntu bildvisare
GenericName[ta]=உபுண்டு புகைப்படம் பார்க்கும் பயன்பாடு
GenericName[te]=ఉబుంటు ఛాయాచిత్ర చూపకం
GenericName[tr]=Ubuntu Fotoğraf Görüntüleyici
GenericName[ug]=ئۇبۇنتۇ سۈرەت كۆرگۈ
GenericName[uk]=Переглядачі фотографій Ubuntu
GenericName[zh_CN]=Ubuntu 照片浏览器
GenericName[zh_HK]=Ubuntu 相片檢視
GenericName[zh_TW]=Ubuntu 相片檢視器
Comment=Browse your photographs
Comment[aa]=Ku tasaawir fokkaq
Comment[am]=ፎቶዎች መቃኛ
Comment[ar]=تصفح صورك
Comment[ast]=Restolar pente les semeyes
Comment[az]=Şəkillərinizi nəzərdən keçirin
Comment[be]=Праглядвайце фатаздымкі
Comment[br]=Furchal ho luc'hskeudennoù
Comment[bs]=Pregledajte svoje fotografije
Comment[ca]=Navegueu per les vostres fotografies
Comment[ca@valencia]=Navegueu per les vostres fotografies
Comment[cs]=Prohlížejte své fotografie
Comment[cy]=Pori eich lluniau
Comment[da]=Gennemse dine billeder
Comment[de]=Ihre Fotos durchsuchen
Comment[el]=Περιηγηθείτε στις φωτογραφίες σας
Comment[en_AU]=Browse your photographs
Comment[en_GB]=Browse your photographs
Comment[es]=Explore sus fotos
Comment[eu]=Arakatu zure argazkiak
Comment[fa]=عکس‌هایتان را مرور کنید
Comment[fi]=Selaa valokuvakokoelmaa
Comment[fr]=Parcourir vos photos
Comment[gd]=Rùraich tro na dealbhan agad
Comment[gl]=Examine as súas fotos
Comment[he]=עיון בין הצילומים שלך
Comment[hu]=Fényképek böngészése
Comment[is]=Flakka um myndir
Comment[it]=Visualizza le tue foto
Comment[ja]=写真を閲覧する
Comment[km]=រកមើល​រូបថត​របស់​អ្នក
Comment[ko]=저장된 사진 보기
Comment[lv]=Pārlūkojiet savas fotogrāfijas
Comment[ml]=നിങ്ങളുടെ ചിത്രങ്ങള്‍ ബ്രൗസ് ചെയ്യുക
Comment[ms]=Layar foto anda
Comment[my]=သင့်ဓာတ်ပုံများကိုရှာမည်
Comment[nb]=Se gjennom bilder
Comment[nl]=Door uw foto's bladeren
Comment[pa]=ਆਪਣੇ ਫ਼ੋਟੋਗ੍ਰਾਫ਼ਾਂ ਦੀ ਝਲਕ ਵੇਖੋ
Comment[pl]=Przeglądanie obrazów
Comment[pt]=Explore as suas fotografias
Comment[pt_BR]=Navegue pelas suas fotos
Comment[ro]=Răsfoiți fotografiile dumneavoastră
Comment[ru]=Просматривайте ваши фотографии
Comment[sk]=Prezerať fotografie
Comment[sl]=Brskajte po svojih fotografijah
Comment[sr]=Разгледајте ваше фотографије
Comment[sv]=Bläddra bland dina bilder
Comment[ta]=உங்களுடைய புகைப்படங்களை உலாவு
Comment[te]=మీ ఛాయాచిత్రాలను విహరించండి
Comment[tr]=Fotoğraflarınıza göz atın
Comment[ug]=سۈرەتلىرىڭىزگە كۆز يۈگۈرتۈڭ
Comment[uk]=Перегляд ваших фотографій
Comment[zh_CN]=浏览你的照片
Comment[zh_HK]=瀏覽相片
Comment[zh_TW]=瀏覽您的相片
Keywords=Photographs;Pictures;Albums
Keywords[aa]=Tasaawiri;Muucitte;Albuumitte
Keywords[am]=ፎቶግራፎች: ስእሎች: አልበሞች
Keywords[ar]=صورة;صور;ألبوم;البوم
Keywords[ast]=Semeyes;Imáxenes;Álbumes
Keywords[az]=Fotoqraflar;Şəkillər;Albomlar
Keywords[be]=Фотаздымкі;Выявы;Альбомы
Keywords[br]=Luc'hskeudennoù;Skeudennoù;Albomoù
Keywords[bs]=Fotografije;Slike;Albumi
Keywords[ca]=fotos;fotografies;àlbums
Keywords[ca@valencia]=fotos;fotografies;àlbums
Keywords[cs]=Fotografie;Obrázky;Alba
Keywords[cy]=Ffotograffau;Lluniau;Albymau
Keywords[de]=Fotos;Photos;Bilder;Alben;Pictures
Keywords[el]=Φωτογραφίες;Εικόνες;Άλμπουμ
Keywords[en_AU]=Photographs;Pictures;Albums
Keywords[en_GB]=Photographs;Pictures;Albums
Keywords[es]=Fotografías;Imágenes;Álbumes
Keywords[eu]=Argazkiak;Irudiak;Albumak
Keywords[fa]=عکس‌ها;عکس;آلبوم‌ها
Keywords[fi]=Photographs;Pictures;Albums;valokuvat;kuvat;albumit;kokoelmat
Keywords[fr]=Photographies;Images;Albums
Keywords[gd]=Photographs;Pictures;Albums;Dealbhan;Dealbhan-camara;Albaman
Keywords[gl]=Fotos;Imaxes;Álbums
Keywords[hu]=Fényképek;Fotók;Képek;Albumok
Keywords[is]=Ljósmynd;Myndir:Albúm
Keywords[it]=Fotografie;Immagini;Album;Foto
Keywords[ja]=Photographs;Pictures;Albums;写真;画像;アルバム;フォト
Keywords[lv]=Fotogrāfijas;Attēli;Albumi
Keywords[nb]=Fotografier;Bilder;Album
Keywords[nl]=Photographs;Pictures;Albums; Foto's; Afbeeldingen
Keywords[pa]=ਫ਼ੋਟੋੋਗ੍ਰਾਫ਼;ਤਸਵੀਰਾਂ;ਐਲਬਮਾਂ
Keywords[pl]=Zdjęcia;Obrazy;Albumy
Keywords[pt]=Fotografias;Imagens;Álbuns
Keywords[pt_BR]=Fotografia;Imagens;Albuns
Keywords[ro]=Fotografii;Poze;Albume
Keywords[ru]=Фотографии;Изображения;Альбомы
Keywords[sk]=Fotografie;Obrázky;Albumy
Keywords[sl]=Fotografije;Slike;Albumi
Keywords[sr]=Фотографије;Слике;Албуми
Keywords[sv]=Fotografier;Bilder;Album
Keywords[ta]=புகைப்படங்கள்;படங்கள்;தொகுப்புகள்
Keywords[tr]=Fotoğraflar;Resimler;Albümler
Keywords[ug]=سۈرەتلەر;رەسىملەر;ئالبوملار
Keywords[uk]=Photographs;Pictures;Albums;фотографії;знімки;альбоми
Keywords[zh_CN]=影像；图片；相册
Keywords[zh_HK]=Photographs;Pictures;Albums
Keywords[zh_TW]=Photographs;Pictures;Albums
Exec=gallery-app %u
Icon=/snap/gallery-app/current/meta/gui/icon.png
StartupNotify=true
Terminal=false
Type=Application
MimeType=image/jpg;image/jpeg;
Categories=Graphics;Photography;RasterGraphics;Viewer;
X-Ayatana-Appmenu-Show-Stubs=false
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
