Source: goodhope
Section: graphics
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9.0),
               libexiv2-dev,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               libqt5opengl5-dev,
               libgl-dev,
               libgles2-mesa-dev,
Standards-Version: 3.9.2

Package: goodhope
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}, 
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-window-plugin,
         libqt5sql5-sqlite,
         qt-components-ubuntu,
         libhud-qt-qml,
Description: Photo gallery for Ubuntu
 Good Hope is a photo gallery for the Ubuntu platform.

Package: goodhope-autopilot
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         goodhope (= ${source:Version}),
         autopilot-qt5
Description: Autopilot tests for the Photo gallery for Ubuntu
 Good Hope is a photo gallery for the Ubuntu platform. This package contains autopilot tests for it.
