Source: gallery-app
Section: graphics
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9.0),
               libexiv2-dev,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               libqt5opengl5-dev,
               libgl-dev,
               libgles2-mesa-dev,
Standards-Version: 3.9.2
Vcs-Bzr: lp:ubuntu-gallery
Homepage:https://wiki.ubuntu.com/Touch/

Package: gallery-app
Architecture: any
Replaces: ubuntu-gallery
Depends: ${shlibs:Depends},
         ${misc:Depends}, 
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-window-plugin,
         libqt5sql5-sqlite,
         qt-components-ubuntu,
         libhud-qt-qml,
Description: Photo gallery for Ubuntu
 Ubuntu-gallery is a photo gallery for the Ubuntu platform.

Package: gallery-app-autopilot
Replaces: ubuntu-gallery-autopilot
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gallery-app (= ${source:Version}),
         libautopilot-qt,
         libqt5test5,
Description: Autopilot tests for the photo gallery for Ubuntu
 Ubuntu-gallery is a photo gallery for the Ubuntu platform. This package contains autopilot tests for it.
