Source: goodhope
Section: graphics
Priority: extra
Maintainer: The Good Hope Team <goodhope@lists.canonical.com>
Uploaders: Adam Dingle <adam@yorba.org>
Build-Depends: debhelper (>= 8.0.0),
               libexiv2-dev,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               libgl-dev,
               libgles2-mesa-dev
Standards-Version: 3.9.2
Homepage: https://launchpad.net/goodhope

Package: goodhope
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
         qtdeclarative5-qtquick2-plugin
         libqt5sql5-sqlite,
         qt-components-ubuntu,
         qthybris [armel armhf]
Description: Photo gallery for the Ubuntu tablet
 Good Hope is a photo gallery for the Ubuntu tablet.

Package: goodhope-autopilot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         goodhope,
         autopilot-qt5
Description: Autopilot tests for the Photo gallery for the Ubuntu tablet
 Good Hope is a photo gallery for the Ubuntu tablet. This package contains autopilot tests for it.
